/.ipynb_checkpoints
/Computer Programming
Kaitlin Cox Cover Letter - Google Docs.pdf
/Replication
/Tutorials
/Social Forecasting
/Scanned Documents
/QTA
/Machine Learning
/R
.Rhistory
*.ini
.Rhistory
/Fax
occasional-staff-casual-claim-form-KC-April.xlsx
QTA Final.R
/WindowsPowerShell
.Rhistory
